#author {
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 3rem;
}

#moreInformation {
    display: flex;
    justify-content: center;
}

#bookInformation, #libraryInformation {
    width: 40%;
}

#bookInformation {
    padding-right: 5%;
}

#libraryInformation {
    padding-left: 5%;
}

#moreInformation span {
    word-wrap: break-word;
}

.label {
    font-weight: bold;
}

@media (max-width: 768px) {
    #bookInformation, #libraryInformation {
        width: 100%;
        padding: 0;
    }

    #libraryInformation {
        padding-top: 10%;
    }

    #moreInformation {
        flex-direction: column;
    }
}
