@font-face {
    font-family:'Neue Haas Unica';
    font-style:normal;
    font-weight:300;
    src:url(../fonts/NeueHaasUnica-Light.woff2) format("woff2"),
        url(../fonts/NeueHaasUnica-Light.woff) format("woff")
}
    
@font-face { 
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NeueHaasUnica-Regular.woff2) format("woff2"),
        url(../fonts/NeueHaasUnica-Regular.woff) format("woff")
}

@font-face{
    font-family: 'Neue Haas Unica';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NeueHaasUnica-Medium.woff2) format("woff2"),
    url(../fonts/NeueHaasUnica-Medium.woff) format("woff")
}

@font-face {
    font-family:'Neue Haas Unica';
    font-style:normal;
    font-weight:700;
    src:url(../fonts/NeueHaasUnica-Bold.woff2) format("woff2"),
        url(../fonts/NeueHaasUnica-Bold.woff) format("woff")
}

body {
    font-family: "Neue Haas Unica", sans-serif !important;
}

#container {
    padding-right: 40px;
    padding-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    padding-top: 40px;
}

#logo img {
    width: clamp(10rem,10vw,15rem);
}

#languages {
    padding-top: 50px;
}

#languages a {
    text-decoration: none;
    color: black;
}

#pageTitle {
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer div {
    font-size: .875rem;
}

footer a {
    text-decoration: none;
    color: black;
}

#cookieBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important
    z-index: 999;
    background: white;
    text-align: center;
    box-shadow: 1px 1px 5px black;
    display: none;
}

#cookieBanner button {
    margin-bottom: 1em;
}

#cookieBanner h3 {
    margin-top: 0.5em;
}